/*mock footer*/
html{
	margin-bottom: 56px;
}


/* index.html - indexPanel */

*{
	box-sizing: border-box;
}
#index-banner{
	height: 200px;
}
.style-index-panel-wraper{
	margin-bottom: 0px;
	.ui-grid-trisect{
		padding-left: 5px;
		padding-right: 0;
		li{
			padding-bottom: 0;
		}
	}
}