/*mock footer*/
html{
	margin-bottom: 56px;
}


/* index.html - indexPanel */

*{
	box-sizing: border-box;
}
#index-banner{
	height: 200px;
}
.style-index-panel-wraper{
	margin-bottom: 0px;
	.ui-grid-trisect{
		padding-left: 5px;
		padding-right: 0;
		li{
			padding-bottom: 0;
		}
	}
}

/*footer*/

.ui-footer {
	.footer-icon{
		width: 30px;
		height: 24px;
		margin: auto;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	.footer-text{
		min-width: 40px;
		height: 24px;
		font-size: 12px;
		line-height: 24px;
	}
}