.align-center{
	text-align: center !important;
}
.align-left{
	text-align: left !important;
}

.ui-avatar, .ui-avatar-lg, .ui-avatar-s, .ui-avatar-one, .ui-avatar-tiled{
	background-image: none !important;
}

.margin-top{
	margin-top: 4px;
}
.margin-top-l{
	margin-top: 8px;
}
.margin-center{
	margin-right: auto;
	margin-left: auto;
}
#index-banner{
	height: 100px;
}